:root {
	--color-purple: #9f3b7e;
	--color-teal: #03a5ad;
	--color-blue: #3f51b5;
}

.chart {
	padding: 0;
	margin: 0;
	position: relative;
	font: 12px sans-serif;
	width: 100%;
}

.chart.desktop.purple .chart__bar--teal,
.chart.desktop.purple .chart__bar--blue {
	opacity: .3;
}

.chart.desktop.teal .chart__bar--purple,
.chart.desktop.teal .chart__bar--blue {
	opacity: .3;
}

.chart.desktop.blue .chart__bar--teal,
.chart.desktop.blue .chart__bar--purple {
	opacity: .3;
}

.chart__svg {
	width: 100%;
}

.chart__inner {

}

.chart__header {

}

.chart__info {}
.chart__controls {}

.chart__content {

}

.chart__bar {

}
.chart__bar--purple,
.chart__bar--purple .chart__bar--bar {
	fill: var(--color-purple);
}
.chart__bar--teal {
	fill: var(--color-teal);
}
.chart__bar--blue {
	fill: var(--color-blue);
}
.chart__labels {
	position: absolute;
}

.chart__label {
	width: 200px;
}

.chart__bar {
	transition: .4s opacity;
}

.chart__bar--purple {
	fill: #9f3b7e;
}

.chart__bar--teal {
	fill: #03a5ad;
}

.chart__bar--blue {
	fill: #3f51b5;
}

.chart__footer {
	position: relative;
	height: 75px;
	width: 100%;
}

.chart__footer--disclaimer {
	position: absolute;
	top: 0;
	right: 100px;
	bottom: 0;
	left: 10px;
}

@media screen and (min-width: 700px) {
	.chart__footer--disclaimer {
		padding: 0 2em;
	}
}
.chart__footer--image {
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
}