.chart {
	padding: 0;
	margin: 0;
	position: relative;
	font: 12px sans-serif;
}

.chart__inner {

}

.chart__header {

}

.chart__info {}
.chart__controls {}

.chart__content {

}

.chart__bar {

}

.chart__labels {
	position: absolute;
}

.chart__bar--purple {
	fill: #9f3b7e;
}

.chart__bar--teal {
	fill: #03a5ad;
}

.chart__bar--blue {
	fill: #3f51b5;
}